<table>
  <tr>
    <td colspan="3">
      <h1>SoftServe</h1>
    </td>
    <td>
      <a href="#"><img src="../../../assets/img/person/img1.jpg" alt="Photo"></a>
    </td>
  </tr>
  <tr>
    <td colspan="2">Firstname, Surname</td>
    <td colspan="2">Gregoriy Makeev</td>
  </tr>
  <tr>
    <td>Contact information</td>
    <td colspan="3">
      Phone: +38(050)939-74-50
      Email: gmakan55@gmail.com
      Skype: g_makeev
    </td>
  </tr>
  <tr>
    <td>Skills</td>
    <td colspan="3">
      HTML5, CSS3, JavaScript, SQL.
      Experience of work as a Technical Support Engineer
    </td>
  </tr>
  <tr>
    <td>
      Experience / IT related educational practice
    </td>
    <td colspan="3">
      <app-employment></app-employment>
    </td>
  </tr>
  <tr>
    <td>Languages</td>
    <td colspan="3">
      Ukrainian, Russian fluent
      English intermediate
    </td>
  </tr>
  <tr>
    <td>Education</td>
    <td colspan="3">
      <app-education></app-education>
    </td>
  </tr>
  <tr>
    <td>
      Additional education (courses, trainings)
    </td>
    <td colspan="3">
      “Site markup from 0 to 1” course.
      “JavaScript 2.0” by Alex Lushchenko course.
      “JavaScript Starter 2021” by ITVDN course.
      “JavaScript Essential 2021” by ITVDN course.
    </td>
  </tr>
  <tr>
    <td>
      Hobbies
    </td>
    <td colspan="3">
      Jogging, fishing.
    </td>
  </tr>
</table>