@import '../../../../styles';

.cv {
  &__wrap {    
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }  
}

table {
  width: 100%;
  border: 3px solid grey;
}

td {
  border: 1px solid grey;
  padding: 10px 15px;

  &:first-child {
    width: 30%;
    font-weight: 700;
  }
}