@import '~src/assets/scss/variables';
@import '../../../styles';


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 100px; 
  background-color: aqua; 

  &__wrap {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}

button {
  margin-right: 10px;
}
