<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="header__logo">
        <span>Logo my site</span>
      </a>
      <nav>
        <button mat-raised-button color="primary" routerLink="/">Home page</button>
        <button mat-raised-button color="primary" routerLink="/cv">Resume</button>
        <button mat-raised-button color="primary" routerLink="/employment">Employment</button>
        <button mat-raised-button color="primary" routerLink="/education">Education</button>
      </nav>
    </div>
  </div>
</header>