<div class="container">
  <div class="employment__wrap">
    <h1>Employment's Details</h1>
    <ul class="employment">
      <li *ngFor="let employment of employments" [class.selected]="employment === selectedEmployment"
        (click)="onSelect(employment)">
        <!-- <span class="badge">{{employment.id}}</span>  -->
        {{employment.yearFrom}} - {{employment.yearTill}}
        Company: {{employment.nameCompany}}
        Position: {{employment.position}}
      </li>
    </ul>

    <app-employment-detail [employment]="selectedEmployment"></app-employment-detail>

  </div>
</div>