/* AppComponent's private CSS styles */
h1 {
  font-size: 3.2em;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

nav {
  a {
    text-decoration: none;
    //margin-top: 10px;
    margin: 15px;
    padding: 15px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;

    &:visited,
    &:link {
      color: #334953;
    }

    &:hover {
      color: #039be5;
      background-color: #cfd8dc;
    }

    .active {
      color: #039be5;
    }
  }
}

.container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

