<div class="container">
  <div class="university__wrap">
    <h1>University's Details</h1>
    <h2>КПІ медіа</h2>   
    <div class="video">
      <!-- <iframe width="424" height="238" src="https://www.youtube.com/embed/EAQGLdYZOqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <a class="video-link" href="https://www.youtube.com/embed/EAQGLdYZOqo" width="424" height="238" alt="КПІмедіа"></a>
  </div>
  </div>
</div>