<div class="container">
  <div class="education__wrap">
    <h1>Education's Details</h1>
    <ul class="education">
      <li *ngFor="let education of educations" [class.selected]="education === selectedEducation"
        (click)="onSelect(education)">        
        {{education.yearFrom}} - {{education.yearTill}}
        University: {{education.name}}
        Qualification: {{education.qualification}}
      </li>
    </ul>

    <app-education-detail [education]="selectedEducation"></app-education-detail>

  </div>
</div>